<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lebaoxun.bbs.core.dao.IPraiseLogMapper">

	<sql id="Base_Column_List">
		id, userId, logType, hostIp, source, recordId, createTime
	</sql>
	
	<insert id="save" parameterType="com.lebaoxun.bbs.core.entity.PasteReply" useGeneratedKeys="true" keyProperty="id">
		insert into praise_log_${submeter} (
		<include refid="Base_Column_List" />
		)
		values (NULL, #{userId}, #{logType}, #{hostIp}, #{source}, #{recordId}, NOW())
	</insert>

	<delete id="deleteBy">
		delete from praise_log_${submeter} where logType = #{logType} and recordId = #{recordId} and userId = #{userId}
	</delete>

	<select id="countByUser" resultType="java.lang.Integer">
		select
		count(id)
		from praise_log_${submeter}
		where logType = #{logType} and recordId = #{recordId} and userId = #{userId}
	</select>
	
</mapper>