<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lebaoxun.bbs.core.dao.IThemeMapper">

	<sql id="Base_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="kw != null">
				and kw = #{kw}
			</if>
			<if test="kindOf != null">
				and kindOf = #{kindOf}
			</if>
			<if test="lables != null">
				and lables = #{lables}
			</if>
			<if test="flag != null">
				and flag = #{flag}
			</if>
			<if test="creator != null">
				and creator = #{creator}
			</if>
			<if test="owner != null">
				and owner = #{owner}
			</if>
		</trim>
	</sql>

	<sql id="Base_Column_List">
		id, kw, descr, subscribes, pasteCount, kindOf, lables, logo,
		flag, creator, owner, createTime, lastPublishTime
	</sql>
	
	<insert id="save" parameterType="com.lebaoxun.bbs.core.entity.Theme" useGeneratedKeys="true" keyProperty="id">
		insert into theme (
		<include refid="Base_Column_List" />
		)
		values (
		NULL, #{kw}, #{descr}, 0, 0, #{kindOf}, #{lables}, #{logo},
		#{flag}, #{creator}, #{owner}, NOW(), NULL
		)
	</insert>
	
	<update id="updateBy" parameterType="com.lebaoxun.bbs.core.entity.Theme">
		update theme
		<set>
		    id = id
			<if test="subscribes != null">
				,subscribes = #{subscribes}
			</if>
			<if test="pasteCount != null">
				,pasteCount = #{pasteCount}
			</if>
			<if test="kindOf != null">
				,kindOf = #{kindOf}
			</if>
			<if test="lables != null">
				,lables = #{lables}
			</if>
			<if test="descr != null">
				,descr = #{descr}
			</if>
			<if test="logo != null">
				,logo = #{logo}
			</if>
			<if test="flag != null">
				,flag = #{flag}
			</if>
			<if test="owner != null">
				,owner = #{owner}
			</if>
			<if test="lastPublishTime != null">
				,lastPublishTime = #{lastPublishTime}
			</if>
		</set>
		<include refid="Base_Where_Clause" />
	</update>

	<select id="search" resultType="com.lebaoxun.bbs.core.entity.Theme">
		select
		<include refid="Base_Column_List"/>
		from theme where kw like CONCAT('%',#{kw},'%') 
		or kindOf like CONCAT('%',#{kw},'%') 
		or lables like CONCAT('%',#{kw},'%') 
		limit #{offset, jdbcType=INTEGER},#{size, jdbcType=INTEGER}
	</select>
	
	<select id="findByRecommend" resultType="com.lebaoxun.bbs.core.entity.Theme">
		select
		<include refid="Base_Column_List"/>
		from theme where 
		id >= (SELECT floor(RAND() * (SELECT MAX(id) FROM `theme`)))
		<if test="kws != null">
			and kw not in 
			<foreach item="kw" index="index" collection="kws"
                open="(" separator="," close=")">
                #{kw}
			</foreach>
		</if>
		<if test="likeKindOfs != null">
			and kindOf in 
			<foreach item="kindOf" index="index" collection="likeKindOfs"
                open="(" separator="," close=")">
                #{kindOf}
			</foreach>
		</if>
		ORDER BY id LIMIT #{size};
	</select>
	
	<select id="findByUserSubscriber" resultType="com.lebaoxun.bbs.core.entity.Theme">
	    select t.* from theme as t left join subscriber as sub on sub.themeId = t.id WHERE sub.userId = #{userId} and sub.isEnabled = '1';
	</select>
	
	<select id="findByKw" resultType="com.lebaoxun.bbs.core.entity.Theme">
		select
		<include refid="Base_Column_List"/>
		from theme where kw =#{kw} limit 1;
	</select>
	
	<select id="findById" resultType="com.lebaoxun.bbs.core.entity.Theme">
		select
		<include refid="Base_Column_List"/>
		from theme where id =#{id} limit 1;
	</select>
	
	<select id="countByKw" resultType="java.lang.Integer">
		select count(kw) from theme where kw =#{kw};
	</select>
	
	<select id="findAllKindOf" resultType="java.lang.String">
		select kindOf from theme group by kindOf;
	</select>
	
	<select id="findByKindOf" resultType="com.lebaoxun.bbs.core.entity.Theme">
		select
		<include refid="Base_Column_List"/>
		from theme where kindOf =#{kindOf}
		order by pasteCount desc ,subscribes desc
		<if test="size != null">
			limit <if test="offset != null">#{offset} ,</if>#{size}
		</if>
	</select>
	
</mapper>