<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.guess.core.dao.IGameMatchMapper">

	<sql id="Base_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="match.id != null">
				and id = #{match.id}
			</if>
			<if test="match.gameType != null">
				and gameType = #{match.gameType}
			</if>
			<if test="match.season != null">
				and season = #{match.season}
			</if>
			<if test="match.league != null">
				and league = #{match.league}
			</if>
			<if test="match.groupName != null">
				and groupName = #{match.groupName}
			</if>
			<if test="match.hostTeam != null">
				and hostTeam = #{match.hostTeam}
			</if>
			<if test="match.guestTeam != null">
				and guestTeam = #{match.guestTeam}
			</if>
			<if test="match.bestOf != null">
				and bestOf = #{match.bestOf}
			</if>
			<if test="match.matchId != null">
				and matchId = #{match.matchId}
			</if>
			<if test="match.status != null">
				and status = #{match.status}
			</if>
		</trim>
	</sql>

	<sql id="Base_Column_List">
		id, gameType, season, league, groupName, gameSystem,
		hostTeam, guestTeam,
		score, bestOf, matchId, status, matchTime,
		createTime, matchWin
	</sql>

	<select id="findOneBy" resultType="com.caiqianyi.guess.game.entity.GameMatch">
		select
		<include refid="Base_Column_List" />
		from game_match
		<include refid="Base_Where_Clause" />
	</select>

	<select id="findAllBy" resultType="com.caiqianyi.guess.game.entity.GameMatch">
		select
		<include refid="Base_Column_List" />
		from game_match
		<include refid="Base_Where_Clause" />
		<if test="start != null and start !=''">
			and DATE_FORMAT(matchTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
			and DATE_FORMAT(matchTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="findAllByTopicStatus" resultType="com.caiqianyi.guess.game.entity.GameMatch">
		select
		<include refid="Base_Column_List" />
		from game_match where matchId in (select substr(groupId,7) from
		guess_topic where status = #{status} group by groupId);
	</select>

	<select id="findByForPager" resultType="com.caiqianyi.guess.game.entity.GameMatch">
		select
		<include refid="Base_Column_List" />
		from game_match
		<include refid="Base_Where_Clause" />
		<if test="start != null and start !=''">
			and DATE_FORMAT(matchTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
			and DATE_FORMAT(matchTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}
		</if>
	</select>

	<insert id="insert">
		insert into game_match (
		<include refid="Base_Column_List" />
		)
		values (UUID(), #{match.gameType}, #{match.season}, #{match.league},
		#{match.groupName}, #{match.gameSystem}, #{match.hostTeam},
		#{match.guestTeam},
		#{match.score}, #{match.bestOf}, #{match.matchId},
		#{match.status},
		#{match.matchTime}, NOW(), #{match.matchWin})
	</insert>

	<update id="update">
		update game_match
		<set>
			<if test="match.status != null">
				status = #{match.status},
			</if>
			<if test="match.score != null">
				score = #{match.score}
			</if>
		</set>
		where id = #{match.id}
	</update>

	<delete id="delete">
		delete from game_match where id = #{id}
	</delete>

	<delete id="deleteByMatchId">
		delete from game_match where gameType = #{gameType}
		and matchId = #{matchId}
	</delete>

</mapper>