<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.guess.core.dao.IGuessClubMemberMapper">

	<sql id="Base_Column_List">
		clubId,nickname,headimgurl,userId,flag,status,guessCount,winCount,unauditedLiveness,totalLiveness,lastUnaudited,joinTime,quitTime
	</sql>

	<insert id="applyJoin" parameterType="com.caiqianyi.guess.entity.GuessClubMember" useGeneratedKeys="true" keyProperty="id">
		insert into guess_club_member ( <include refid="Base_Column_List"></include> )
		values (#{clubId},#{nickname},#{headimgurl},#{userId},1,0,0,0,0,0, null,NOW(),null)
	</insert>
	
	<insert id="addMember" parameterType="com.caiqianyi.guess.entity.GuessClubMember" useGeneratedKeys="true" keyProperty="id">
		insert into guess_club_member ( <include refid="Base_Column_List"></include> )
		values (#{clubId},#{nickname},#{headimgurl},#{userId},#{flag},#{status},0,0,0,0, null,NOW(),null)
	</insert>

	<update id="join">
		update guess_club_member set status = 1
		<if test="isCheck != null">
		    ,joinTime = NOW()
		</if>
		where id = #{memberId}
	</update>
	
	<update id="applyQuit">
		update guess_club_member set status = -1 where id = #{memberId}
	</update>
	
	<update id="quit">
		update guess_club_member set status = -2
		<if test="isCheck != null">
		    ,quitTime = NOW()
		</if> where id = #{memberId}
	</update>
	
	<update id="update" parameterType="com.caiqianyi.guess.entity.GuessClubMember">
		update guess_club_member set id = #{id}
		<if test="guessCount != null">
			,guessCount = #{guessCount}
		</if>
		<if test="nickname != null">
			,nickname = #{nickname}
		</if>
		<if test="headimgurl != null">
			,headimgurl = #{headimgurl}
		</if>
		<if test="winCount != null">
			,winCount = #{winCount}
		</if>
		<if test="unauditedLiveness != null">
			,unauditedLiveness = #{unauditedLiveness}
		</if>
		<if test="totalLiveness != null">
			,totalLiveness = #{totalLiveness}
		</if>
		<if test="lastUnaudited != null">
			,lastUnaudited = now()
		</if>
		where id = #{id} and status != -2
	</update>
	
	<update id="addWinCount">
	    <foreach collection="members" item="id" index="index" open="" separator=";" close="">  
	    	update guess_club_member set winCount = winCount+1 where id = #{id} 
        </foreach>
	</update>
	
	<select id="findById" resultType="com.caiqianyi.guess.entity.GuessClubMember">
		select id,<include refid="Base_Column_List"/> from guess_club_member where id = #{id}
	</select>
	
	<select id="findByClubAndUserId" resultType="com.caiqianyi.guess.entity.GuessClubMember">
		select id,<include refid="Base_Column_List"/> from guess_club_member where clubId = #{clubId} and userId = #{userId} and status != -2
	</select>
	<select id="findByClubAndId" resultType="com.caiqianyi.guess.entity.GuessClubMember">
		select id,<include refid="Base_Column_List"/> from guess_club_member where clubId = #{clubId} and id = #{id} and status != -2
	</select>
	
	<select id="findByClubIdForMember" resultType="com.caiqianyi.guess.entity.GuessClubMember">
	    select id,clubId,nickname,headimgurl,userId,totalLiveness,joinTime from guess_club_member where clubId = #{clubId} and status = 1
	</select>
	
	<select id="findByClubId" resultType="com.caiqianyi.guess.entity.GuessClubMember">
	    select id,<include refid="Base_Column_List"/> from guess_club_member where clubId = #{clubId} and status !=-2 order by #{orderBy}
	</select>
</mapper>
