<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.guess.core.dao.IGuessClubMapper">

	<sql id="Base_Column_List">
		id, clubId, createId, maxMember, name, password, cardNum, icon, notice, kindOf, currentMember, status ,createTime, totalLiveness
	</sql>

	<resultMap id="ClubMemberMap" type="com.caiqianyi.guess.entity.GuessClub">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="clubId" jdbcType="INTEGER" property="clubId" />
		<result column="createId" jdbcType="INTEGER" property="createId" />
		<result column="maxMember" jdbcType="INTEGER" property="maxMember" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="cardNum" jdbcType="INTEGER" property="cardNum" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="notice" jdbcType="VARCHAR" property="notice" />
		<result column="kindOf" jdbcType="VARCHAR" property="kindOf" />
		<result column="currentMember" jdbcType="INTEGER" property="currentMember" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="totalLiveness" jdbcType="INTEGER" property="totalLiveness" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<collection property="members"
			ofType="com.caiqianyi.guess.entity.GuessClubMember">
			<result column="member_id" jdbcType="INTEGER" property="id" />
			<result column="clubId" jdbcType="INTEGER" property="clubId" />
			<result column="userId" jdbcType="INTEGER" property="userId" />
			<result column="member_status" jdbcType="INTEGER" property="status" />
			<result column="guessCount" jdbcType="INTEGER" property="guessCount" />
			<result column="unauditedLiveness" jdbcType="INTEGER"
				property="unauditedLiveness" />
			<result column="totalLiveness" jdbcType="INTEGER"
				property="totalLiveness" />
			<result column="lastUnaudited" jdbcType="TIMESTAMP" property="lastUnaudited" />
			<result column="joinTime" jdbcType="TIMESTAMP" property="joinTime" />
			<result column="quitTime" jdbcType="TIMESTAMP" property="quitTime" />
		</collection>
	</resultMap>
	
	<insert id="createClub" parameterType="com.caiqianyi.guess.entity.GuessClub">
		insert into guess_club (id, clubId, createId, currentMember, maxMember, name, password,
		cardNum, kindOf) values (UUID(),
		#{clubId}, #{createId},#{currentMember}, #{maxMember}, #{name}, #{password},
		#{cardNum}, #{kindOf}
		);
	</insert>

	<update id="update" parameterType="com.caiqianyi.guess.entity.GuessClub">
		update guess_club set
		clubId = #{clubId}
		<if test="maxMember != null">
			,maxMember = #{maxMember}
		</if>
		<if test="name != null">
			,name = #{name}
		</if>
		<if test="password != null">
			,password = #{password}
		</if>
		<if test="cardNum != null">
			,cardNum = #{cardNum}
		</if>
		<if test="icon != null">
			,icon = #{icon}
		</if>
		<if test="notice != null">
			,notice = #{notice}
		</if>
		<if test="currentMember != null">
			,currentMember = #{currentMember}
		</if>
		<if test="status != null">
			,status = #{status}
		</if>
		<if test="totalLiveness != null">
			,totalLiveness = #{totalLiveness}
		</if>
		where clubId = #{clubId} and createId = #{createId}
	</update>

	<select id="findById" resultType="com.caiqianyi.guess.entity.GuessClub">
		select
		<include refid="Base_Column_List" />
		from guess_club where clubId = #{clubId} and status != -1
		<if test="createId != null">
		    and createId = #{createId}
		</if>
	</select>
	
	<select id="findByIdForAll" resultMap="ClubMemberMap">
		select
		club.id, club.clubId, club.createId, club.maxMember, club.name, club.password, club.cardNum,
		club.icon, club.notice, club.kindOf, club.currentMember, club.status ,club.createTime,club.totalLiveness,
		member.id as member_id,member.userId,member.status as member_status,member.guessCount,
		member.unauditedLiveness,member.totalLiveness,member.joinTime,member.quitTime 
		from guess_club as club 
		left join guess_club_member as member on member.clubId = club.clubId 
		where club.clubId = #{clubId} and club.createId = #{createId} and club.status != -1
	</select>
	
	<select id="findByCreateId" resultType="com.caiqianyi.guess.entity.GuessClub">
		select
		<include refid="Base_Column_List" />
		from guess_club where createId = #{createId} and status != -1
		<if test="kindOf != null">
		    and kindOf = #{kindOf}
		</if>
	</select>
	
	
	<resultMap id="ClubTemplateMap" type="com.caiqianyi.guess.entity.GuessClub">
	    <id column="id" jdbcType="VARCHAR" property="id" />
		<result column="clubId" jdbcType="INTEGER" property="clubId" />
		<result column="createId" jdbcType="INTEGER" property="createId" />
		<result column="maxMember" jdbcType="INTEGER" property="maxMember" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="cardNum" jdbcType="INTEGER" property="cardNum" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="notice" jdbcType="VARCHAR" property="notice" />
		<result column="kindOf" jdbcType="VARCHAR" property="kindOf" />
		<result column="currentMember" jdbcType="INTEGER" property="currentMember" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="totalLiveness" jdbcType="INTEGER" property="totalLiveness" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
		<collection property="templates"
			ofType="com.caiqianyi.guess.entity.GuessTemplate" javaType="java.util.ArrayList" >
			<id column="tmp_id" jdbcType="INTEGER" property="id" />
			<result column="tmp_subject" jdbcType="VARCHAR" property="subject" />
			<result column="tmp_label" jdbcType="VARCHAR" property="label" />
			<result column="tmp_kindOf" jdbcType="VARCHAR" property="kindOf" />
			<result column="tmp_topicType" jdbcType="VARCHAR" property="topicType" />
			<result column="tmp_orderBy" jdbcType="INTEGER" property="orderBy" />
			<result column="tmp_clubId" jdbcType="INTEGER" property="clubId" />
			<result column="tmp_userId" jdbcType="INTEGER" property="userId" />
			<result column="tmp_createTime" jdbcType="TIMESTAMP" property="createTime" />
			<collection property="options" ofType="com.caiqianyi.guess.entity.GuessTemplateOption" javaType="java.util.ArrayList">
			    <result column="tmp_id" property="templateId"/>
			    <result column="opt_name" property="name"/>
			    <result column="opt_formula" property="formula"/>
			    <result column="opt_orderBy" property="orderBy"/>
			    <result column="opt_odds" property="odds"/>
			    <result column="opt_createTime" property="createTime"/>
			</collection>
		</collection>
	</resultMap>
	
	<select id="findByKindOf" resultMap="ClubTemplateMap">
	    select 
		club.id, club.clubId, club.createId, club.maxMember, club.name, club.password, club.cardNum,
		club.icon, club.notice, club.kindOf, club.currentMember, club.status ,club.createTime,club.totalLiveness,
		tmp.id as tmp_id,tmp.subject as tmp_subject,tmp.label as tmp_label,tmp.kindOf as tmp_kindOf,
		tmp.topicType as tmp_topicType,tmp.orderBy as tmp_orderBy,tmp.clubId as tmp_clubId,tmp.userId as tmp_userId,
		tmp.createTime as tmp_createTime,
		opt.templateId,opt.name as opt_name,opt.formula as opt_formula,opt.orderBy as opt_orderBy,opt.odds as opt_odds,opt.createTime as opt_createTime
		from guess_club AS club
		LEFT JOIN guess_template AS tmp ON tmp.clubId = club.clubId
		LEFT JOIN guess_template_option AS opt ON
		tmp.id = opt.templateId
		where club.kindOf = #{kindOf}
		and club.cardNum <![CDATA[>=]]> #{minBlance}
		and club.status != -1
		and tmp.status != 0
		order by tmp.orderBy,opt.orderBy;
	</select>
	
	<select id="countByCreateId" resultType="java.lang.Integer">
		select count(0) from guess_club where createId = #{createId} and status != -1
		<if test="name != null">
		    and name = #{name}
		</if>
	</select>
</mapper>
