<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.guess.caipiao.core.dao.ILotteryIssueMapper">

	<sql id="Base_Column_List">
		expect, openCode, kindOf, status, openTime, startTime, endTime, createTime
	</sql>

	<select id="getCurrentIssue" resultType="com.caiqianyi.guess.caipiao.entity.LotteryIssue">
		select
		<include refid="Base_Column_List" />
		from lottery_issue where kindOf=#{kindOf} and startTime &lt;= NOW() and endTime &gt; NOW() and status = 0
	</select>
	<select id="getCurrentPrevIssue" resultType="com.caiqianyi.guess.caipiao.entity.LotteryIssue">
		select
		<include refid="Base_Column_List" />
		from lottery_issue where kindOf=#{kindOf} and endTime &lt; NOW() order by startTime desc limit 1;
	</select>
	
	<select id="getIssueByExpect" resultType="com.caiqianyi.guess.caipiao.entity.LotteryIssue">
		select
		<include refid="Base_Column_List" />
		from lottery_issue where kindOf=#{kindOf} and expect = #{expect}
	</select>

	<select id="getHistoryOpenCode" resultType="com.caiqianyi.guess.caipiao.entity.LotteryIssue">
		select
		<include refid="Base_Column_List" />
		from lottery_issue
		where kindOf = #{kindOf}
		and openTime is not null
		<if test="start != null and start !=''">
			and DATE_FORMAT(openTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
			and DATE_FORMAT(openTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}
		</if>
		order by startTime desc
		<if test="size != null">
			limit #{size}
		</if>
		<if test="offset != null">
			,#{offset}
		</if>
	</select>
	
	<select id="getIssusByKindOfAndStatus" resultType="com.caiqianyi.guess.caipiao.entity.LotteryIssue">
		select
		<include refid="Base_Column_List" />
		from lottery_issue
		where kindOf = #{kindOf}
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="day != null and day !=''">
			and DATE_FORMAT(endTime,'%Y%m%d') = #{day,jdbcType=VARCHAR}
		</if>
		order by startTime;
	</select>
	
	<select id="findAllKindOf" resultType="java.lang.String">
	    select kindOf from lottery_issue group by kindOf;
	</select>
	
	<insert id="insert">
		insert into lottery_issue (
			id, expect, kindOf, status, endTime, startTime
		)
		values (UUID(), #{issue.expect}, #{issue.kindOf}, 0 , #{issue.endTime}, #{issue.startTime})
	</insert>

	<update id="update">
		update lottery_issue
		<set>
			<if test="issue.status != null">
				status = #{issue.status},
			</if>
			<if test="issue.openCode != null">
				openCode = #{issue.openCode},
			</if>
			<if test="issue.openTime != null">
				openTime = #{issue.openTime}
			</if>
		</set>
		where kindOf = #{issue.kindOf} and expect = #{issue.expect}
	</update>

</mapper>
