@CHARSET "UTF-8";
.level {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
}
.level_1, .level_2, .level_3 {
    background-position: 0 -127px;
}
.level_4, .level_5, .level_6, .level_7, .level_8, .level_9 {
    background-position: 0 -155px;
}
.level_10, .level_11, .level_12, .level_13, .level_14, .level_15 {
    background-position: 0 -183px;
}
.level_16, .level_17, .level_18 {
    background-position: 0 -211px;
}