@CHARSET "UTF-8";
.editor_panel {
	overflow: hidden;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-overflow-scrolling: touch;
}
.editor_panel {
	width: 100%;
	height: 100%;
	z-index: 100000;
	-ms-flex-positive: 1;
	flex-grow: 1;
	top: 44px;
}

.editor_content_panel {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.editor_content_panel {
	position: relative;
}

.savedraft_panel {
	position: absolute;
	display: block;
	-webkit-box-flex: 2;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	bottom: 0;
	right: 10px;
	margin-left: 10px;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	color: #a9aeb3;
	z-index: 1;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.editor_content_panel .lay_hide {
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.lay_hide {
	position: relative;
}

.lay_top {
	position: absolute;
	z-index: 100;
	text-align: center;
	top: 50%;
	width: 100%;
	margin-top: -16px;
}

.editor_panel .editor_content {
	overflow: auto;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	font-weight: 400;
	padding: 20px 17px 0;
	resize: none;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.editor_panel .editor_input {
	border-width: 0;
	background: #fff;
	font-size: 16px;
}

.editor_content {
	padding-bottom: 24px;
}

.editor_input {
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-appearance: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	display: block;
	font-size: 13px;
	color: #262626;
	border: 1px solid #dee0e0;
	padding: 10px 8px;
	line-height: 16px;
	background: #fbfbfb;
	font-weight: 600;
}

.editor_content {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

.editor_bottom_panel {
	margin-top: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	width: 100%;
}

.image-list[data-v-8edeee54] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin-bottom: 2.5rem;
}

.image-wrap.img3[data-v-8edeee54] {
	-ms-flex-preferred-size: 32.3%;
	flex-basis: 32.3%;
}

.image-wrap[data-v-8edeee54] {
	margin: .5%;
	position: relative;
	/**overflow: hidden;*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.image-placeholder[data-v-8edeee54] {
	padding-top: 100%;
}

.compose-image[data-v-8edeee54] {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.m-rpic-close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	opacity: .4;
	border-radius: 0 .35rem;
	padding: 0;
	border: 0;
	outline: none;
}

.m-rpic-c {
	overflow: hidden;
	color: #fff;
	font-size: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.m-style-svg {
	display: inline-block;
	fill: currentcolor;
	max-width: 100%;
	position: relative;
	vertical-align: text-bottom;
	-webkit-user-select: text;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.m-flex-grow1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.more-image[data-v-8edeee54] {
	border: 1px dashed #c8c8c8;
}

.m-box-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	vertical-align: middle;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.more-image[data-v-8edeee54]:after, .more-image[data-v-8edeee54]:before
	{
	content: "";
	width: 0.5rem;
	height: 1px;
	background-color: #c8c8c8;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.more-image[data-v-8edeee54]:after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.image-placeholder[data-v-8edeee54] {
	padding-top: 100%;
}

.upload-input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 30px;
}

.m-repic-close:before {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	line-height: 26px;
	text-indent: -3px;
	color: #18b4ed;
	background: #fff;
}
.post_list_item a:visited, .post_list_item:visited {
    color: #531f74;
}
.pb_floow_load:visited {
    color: #999;
}
.pb_floow_load {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    margin-bottom: 0;
    padding: 0 10px;
    color: #999;
    position: relative;
    -webkit-tap-highlight-color: rgba(255,255,255,.3);
}
.editor_title_panel {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    padding: 0 17px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.editor_panel .editor_title {
    padding: 21px 0;
    outline: 0;
    margin: 0;
}
.editor_panel .editor_input {
    border-width: 0;
    background: #fff;
    font-size: 18px;
    color: #000;
    line-height: 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.editor_title {
    margin: 0 0 -1px;
}
.editor_input {
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-appearance: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    display: block;
    font-size: 13px;
    color: #262626;
    border: 1px solid #dee0e0;
    padding: 10px 8px;
    line-height: 16px;
    background: #fbfbfb;
    font-weight: 600;
}