<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.guess.core.dao.IGuessOrderMapper">

	<sql id="Base_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="order.id != null">
				and id = #{order.id}
			</if>
			<if test="order.orderNo != null">
				and orderNo = #{order.orderNo}
			</if>
			<if test="order.clubId != null">
				and clubId = #{order.clubId}
			</if>
			<if test="order.userId != null">
				and userId = #{order.userId}
			</if>
			<if test="order.optionId != null">
				and optionId = #{order.optionId}
			</if>
			<if test="order.bonus != null">
				and bonus = #{order.bonus}
			</if>
			<if test="order.topicId != null">
				and topicId = #{order.topicId}
			</if>
			<if test="order.status != null">
				and status = #{order.status}
			</if>
		</trim>
	</sql>

	<sql id="Base_Column_List">
		id, orderNo, clubId, userId, optionId, diamond, bonus, amount, topicId, status,
		createTime
	</sql>

	<select id="findByForPager" resultType="com.caiqianyi.guess.entity.GuessOrder">
		select
		<include refid="Base_Column_List" />
		from guess_order
		<include refid="Base_Where_Clause" />
		<if test="start != null and start !=''">
			and DATE_FORMAT(beginTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
			and DATE_FORMAT(beginTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="findAllBy" resultType="com.caiqianyi.guess.entity.GuessOrder">
		select
		<include refid="Base_Column_List" />
		from guess_order
		<include refid="Base_Where_Clause" />
		<if test="start != null and start !=''">
			and DATE_FORMAT(beginTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
			and DATE_FORMAT(beginTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="findOneBy" resultType="com.caiqianyi.guess.entity.GuessOrder">
		select
		<include refid="Base_Column_List" />
		from guess_order
		<include refid="Base_Where_Clause" />
	</select>

	<insert id="insert">
		insert into guess_order (
		<include refid="Base_Column_List" />
		)
		values (UUID(), #{order.clubId}, #{order.orderNo}, #{order.userId}, #{order.optionId},
		#{order.diamond}, NULL, #{order.amount}, #{order.topicId}, 0, now()
	</insert>

	<update id="update">
		update guess_order
		<set>
			<if test="order.status != null">
				status = #{order.status},
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete">
		delete from guess_order where id = #{id}
	</delete>

	<delete id="deleteByOrderNo">
		delete from guess_topic_option where orderNo = #{orderNo}
	</delete>

</mapper>
