<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.account.dao.IUserMapper" >
  
	
	<select id="findTradeRecordByUserid" resultType="com.caiqianyi.account.entity.TradeRecord">
		select * from trade_records where userId = #{userId} 
		<if test="tradeType != null">
			and tradeType = #{tradeType}
		</if>
		<if test="start != null and start !=''">
		    and DATE_FORMAT(createTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
		    and DATE_FORMAT(createTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}	
		</if>
		<if test="size != null" >
	  		limit #{size,jdbcType=INTEGER},#{offset,jdbcType=INTEGER}
	    </if>
	</select>
	<select id="countTradeRecordByUserid">
		select count(0) from trade_records where userId = #{userId} 
		<<if test="tradeType != null">
			and tradeType = #{tradeType}
		</if>
		<if test="start != null and start !=''">
		    and DATE_FORMAT(createTime,'%Y-%m-%d')<![CDATA[>=]]>#{start,jdbcType=VARCHAR}
		</if>
		<if test="end != null and end !=''">
		    and DATE_FORMAT(createTime,'%Y-%m-%d')<![CDATA[<=]]>#{end,jdbcType=VARCHAR}	
		</if>
	</select>
	
	<select id="findTradeRecordByReferId" resultType="com.caiqianyi.account.entity.TradeRecord">
		select * from trade_records where referId = #{referId} and tradeType = #{tradeType} 
	</select>
	
	<insert id="saveTradeRecord" parameterType="com.caiqianyi.account.entity.TradeRecord" useGeneratedKeys="true" keyProperty="id">
		insert into trade_records(
			id,
			userId,
			referId,
			money,
			tradeMoney,
			descr,
			host,
			status,
			tradeype,
			createTime
		) values(
			UUID(),
			#{userId},
			#{referId},
			#{money},
			#{tradeMoney},
			#{descr},
			#{host},
			#{status},
			#{tradeType},
			NOW()
		)
	</insert>
</mapper>
