<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqianyi.account.dao.IUserMapper" >
  
  <sql id="Base_User">
      id,userId,account,password,mobile,source,type,status,payOrderNo,payCount,
      host,createTime,lastLoginTime,lastBuyTime,lastUpdateTime,level,balance,frozen,accountSign,
      subscribe,openid,unionid,nickname,sex,city,country,province,language,headimgurl,subscribeTime,
      remark
  </sql>
  
  <sql id="Base_Show_User">
      id,account,password,mobile,source,type,status,payOrderNo,payCount,
      host,createTime,lastLoginTime,lastBuyTime,lastUpdateTime,level,balance,frozen,accountSign,
      
      subscribe,openid,unionid,nickname,sex,city,country,province,language,headimgurl,subscribeTime,
      remark
  </sql>
  
  <!-- 根据账号和密码获得代理  -->
  <select id="login" resultType="com.caiqianyi.account.entity.User">
	SELECT <include refid="Base_User"/> FROM user WHERE account=#{account,jdbcType=VARCHAR} AND password=#{password,jdbcType=VARCHAR}
  </select>
  
  <select id="findByAccount" resultType="com.caiqianyi.account.entity.User"  parameterType="java.lang.String" >
    select <include refid="Base_User"/> from user where account = #{account,jdbcType=VARCHAR}
  </select>
  
  <select id="findByUnionid" resultType="com.caiqianyi.account.entity.User" parameterType="java.lang.String">
	  SELECT <include refid="Base_User"/> FROM user WHERE unionid=#{unionid,jdbcType=VARCHAR}	
  </select>
  <select id="findByOpenid" resultType="com.caiqianyi.account.entity.User" parameterType="java.lang.String">
	  SELECT <include refid="Base_User"/> FROM user WHERE openid=#{openid,jdbcType=VARCHAR}	
  </select>
  <select id="findByMobile" resultType="com.caiqianyi.account.entity.User" parameterType="java.lang.String">
	  SELECT <include refid="Base_User"/> FROM user WHERE mobile=#{mobile,jdbcType=VARCHAR}	
  </select>  
  <select id="findById" resultType="com.caiqianyi.account.entity.User" >
      select <include refid="Base_User"/> from user where userId=#{userId,jdbcType=INTEGER}
  </select>
  <select id="findAccountNormal" resultType="com.caiqianyi.account.entity.User" >
      select <include refid="Base_Show_User"/> from user where userId=#{userId,jdbcType=INTEGER} and accountSign=md5(balance+'c8993417ca184f89a8bd492d86c750d3'+frozen)
  </select>
  
  <update id="modifyBalance">
	  UPDATE user SET lastUpdateTime = now(),balance=#{balance,jdbcType=INTEGER},
	  		frozen=#{frozen,jdbcType=INTEGER},accountSign=#{accountSign} WHERE userId=#{userId,jdbcType=INTEGER}
  </update>
  
  <!-- 修改 -->
  <update id="update">
  	UPDATE user SET
  	lastUpdateTime = now()
  	<if test="nickname != null" >
		,nickname=#{nickname,jdbcType=VARCHAR}
    </if>
  	<if test="password != null" >
		,password=#{password,jdbcType=VARCHAR}
    </if>
    <if test="lastBuyTime != null" >
		,lastBuyTime=#{lastBuyTime}
    </if>
    <if test="status != null" >
		,status=#{status}
    </if>
    <if test="type != null" >
		,type=#{type}
    </if>
    <if test="mobile != null" >
		,mobile=#{mobile}
    </if>
    <if test="payOrderNo != null" >
		,payOrderNo=#{payOrderNo}
    </if>
    <if test="payCount != null" >
		,payCount=#{payCount}
    </if>
    <if test="host != null" >
		,payCount=#{host}
    </if>
    <if test="lastLoginTime != null" >
		,lastLoginTime=#{lastLoginTime}
    </if>
    <if test="lastBuyTime != null" >
		,lastBuyTime=#{lastBuyTime}
    </if>
    <if test="level != null" >
		,level=#{level}
    </if>
	WHERE id=#{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 注冊 -->
  <insert id="register">
  	insert into user(<include refid="Base_User"/>)
  	values(
  		UUID(),#{userId},#{account},#{password},#{mobile},#{source},#{type},#{status},#{payOrderNo},#{payCount},
  		#{host},now(),null,null,now(),#{level},#{balance},0,md5('0c8993417ca184f89a8bd492d86c750d30'),
  		#{subscribe},#{openid},#{unionid},#{nickname},#{sex},#{city},#{country},#{province},#{language},
  		#{headimgurl},#{subscribeTime},#{remark})
  </insert>
</mapper>
